.error-message {
    color: #e74c3c;
    font-size: 0.85rem;
    margin-top: 0.25rem;
    font-weight: 500;
}

#drop-area {
    cursor: pointer;
    background-color: #f8f9fa;
    transition: 0.3s ease;
}

#drop-area.dragover {
    background-color: #e9ecef;
    border-color: #007bff;
}

#drop-area p {
    margin: 0;
    color: #6c757d;
}

.dropzone-box {
    cursor: pointer;
    transition: 0.3s;
}

.dropzone-box.dragover {
    background-color: #f0f8ff;
    border-color: #007bff;
}

.main-preview-image {
    max-height: 150px;
    border-radius: 0.5rem;
    object-fit: cover;
    border: 1px solid #ccc;
    position: relative;
}

.remove-main-image {
    position: absolute;
    top: -5px;
    right: -5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

.preview-wrapper {
    position: relative;
    display: inline-block;
}

.image-nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    transition: all 0.3s ease;
    z-index: 5;
}

.image-nav-button:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}

.image-nav-button:focus {
    outline: none;
    box-shadow: none;
}

.unread-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #28a745;
    /* xanh lá (Bootstrap success) */
    border-radius: 50%;
}

.pagination .page-item.active .page-link {
    background-color: #e22454 !important;
    border-color: #e22454 !important;
    /* viền cùng màu */
    color: #fff !important;
    /* chữ màu trắng */
}

.pagination .page-link {
    color: #e22454;
    /* màu chữ các trang chưa active */
}

.pagination .page-link:hover {
    background-color: #e0e0e0;
    /* hover nhẹ */
    color: #e22454;
}

.status-filter .btn-status {
    transition: all 0.2s ease;
}

.status-filter .btn-status:hover {
    background-color: #0d6efd;
    opacity: 0.9;
    transform: translateY(-2px);
}

.status-filter .btn-status.active {
    background-color: #198754 !important;
    /* xanh lá */
    color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
<<<<<<< HEAD
=======

>>>>>>> 82addfefef1ea75680e7a947cfa94c6d7cfc4031
